<header>
  <div>
    <a href="{{ "/" | prepend: site.baseurl | replace: '//', '/' }}">
      <img src="{{ '/assets/Echo210.png' | prepend: site.baseurl | replace: '//', '/' }}" 
           alt="Echo210 Logo" 
           style="display: block; margin: 0 auto; max-width: 100%; height: auto;">
    </a>
    <p style="text-align: center; color: #b5e853; margin-top: 10px;">
      For the love of Tech and Community
    </p>
    <div class="header-links">
      {% include links.html %}
    </div>
  </div>
</header>
