<header>
  <div>
    <a href="{{ "/" | prepend: site.baseurl | replace: '//', '/' }}">
<pre style="font-family: monospace; background: none; text-shadow: none; text-align: center;">
███████╗ ██████╗██╗  ██╗ ██████╗ ██████╗  ██╗ ██████╗ 
██╔════╝██╔════╝██║  ██║██╔═══██╗╚════██╗███║██╔═████╗
█████╗  ██║     ███████║██║   ██║ █████╔╝╚██║██║██╔██║
██╔══╝  ██║     ██╔══██║██║   ██║██╔═══╝  ██║████╔╝██║
███████╗╚██████╗██║  ██║╚██████╔╝███████╗ ██║╚██████╔╝
╚══════╝ ╚═════╝╚═╝  ╚═╝ ╚═════╝ ╚══════╝ ╚═╝ ╚═════╝ 
</pre>
    </a>
    <p style="text-align: center; color: #b5e853; margin-top: -20px;">
      For the love of Tech and Community
    </p>
    <div class="header-links">
      {% include links.html %}
    </div>
  </div>
</header>
